body {
  background-image: linear-gradient(to bottom right, #F2A81D, #f2eadf, #0e1F40, #F2921d);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Estilos de la barra de navegación */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0E1F40;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Rubik', sans-serif;
  z-index: 1000;
}

nav img {
  height: 40px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  color: #F2A81D;
  transform: scale(1.3);
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #e0e0d1;
  font-size: 23px;
}

/* Contenedor principal de edición de usuario */
.editar-usuario-contenedor {
  margin-top: 80px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.editar-usuario-contenedor h1 {
  color: #81282d;
}

.editar-usuario-contenedor p {
  color: #000000;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.editar-campo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.editar-campo label {
  font-weight: bold;
  color: #000000;
}

.editar-campo input[type="text"],
.editar-campo input[type="email"],
.editar-campo input[type="tel"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
}

.boton-guardar {
  font-size: 90%;
  background-color: #0E1F40;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.boton-volver {
  font-size: 90%;
  background-color: #0E1F40;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.boton-guardar:hover,
.boton-volver:hover {
  background-color: #f2a81d;
}
