@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap");

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Proza Libre', sans-serif;
    background-image: url("../imagenes/fondoEntrada3.jpg");
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.contenedor-cuadrado {
    background-color: #0e1f40;
    box-shadow: 0 0 100px rgba(1, 1, 1, 1);
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    background: transparent;
    backdrop-filter: blur(45px);

    /* Responsive adjustments */
    @media (max-width: 768px) {
        width: 80%;
        margin-top: 100px;
        /* Adjust width for smaller screens */
    }

    @media (max-width: 480px) {
        width: 90%;
        margin-top: 300px;
        /* Further adjust width for mobile devices */
    }
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    text-align: justify;

    margin-left: 50px;
    margin-right: auto;
}

p {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 10px 0;
    text-align: justify;
}

nav {
    background-color: #fafafa;
    border-radius: 30px;
    border-color: #ffffff;
    position: fixed;
    top: 20px;
    width: 95%;
    display: flex;

    padding: 4px;


}

nav a {

    color: #110930;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav a:hover {
    background-color: #0e153a;
    color: rgb(255, 255, 255);
    transition: background-color 0.80s ease;
    /* Transición suave para el cambio de color de fondo */
    border-radius: 8px;
}

.login-button {
    font-weight: bold;
    background-color: #d41e2d;
    border-color: #d41e2d;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 50px;
    padding: 14px 16px;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    right: 170px;

}

.login-button:hover {
    background-color: #a01b1b;
    transition: background-color 0.50s ease;
}


.login-registro {
    font-weight: bold;
    background-color: #3d3d3d;
    color: rgb(235, 235, 235);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 50px;
    padding: 14px 16px;
    text-align: center;
    font-size: 15px;
    border-color: #3d3d3d;
    position: absolute;
    right: 60px;
}

.login-registro:hover {
    background-color: #0b063d;
    transition: background-color 0.50s ease;
}

img {
    margin-left: 20px;
}

