         /* Reset basico */
         * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
  
        body {
          font-family: 'Rubik', sans-serif;
        }
  
  
        /* Boton de hamburguesa */
        .hamburger {
          position: absolute;
          top: 80px;
          left: 20px;
          background: none;
          border: none;
          color: #bf303c;
          font-size: 30px;
          cursor: pointer;
          z-index: 100;
        }
  
        /* Barra lateral */
        .sidebar {
          position: absolute;
          top: 60.5px;
          left: 0px;
          width: 250px;
          height: 70%;
          background-color: #0E1F40;
          transform: translateX(-100%);
          transition: transform 0.3s ease;
          padding-top: 60px;
          z-index: 99;
        }
  
        .sidebar.open {
          transform: translateX(0);
        }
  
        .sidebar-content a {
          display: block;
          color: #fff;
          padding: 15px;
          text-decoration: none;
          border-bottom: 1px solid #fff;
        }

        .sidebar-content h2 {
          display: block;
          padding: 15px;
          color: #bf303c;
          text-decoration: none;
          border-bottom: 1px solid #fff;
        }
  
        .sidebar-content a:hover {
          background-color: #bf303c;
        }
  
        /* Contenido principal */
        main {
          margin-left: 0;
          padding: 20px;
          transition: margin-left 0.3s ease;
          text-align: center; 
          margin-bottom: 80px;
        }
  
        .books-grid {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: center;
        }
  
        .book-card {
          background-color: #f5f5f5;
          padding: 10px;
          width: 150px;
          border-radius: 5px;
          text-align: center;
        }
  
        .book-card img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
        }
  
        .book-card h3 {
          font-size: 16px;
          margin: 10px 0;
        }
  
        .btn-cart,
        .btn-more {
          padding: 5px 10px;
          margin: 5px 0;
          cursor: pointer;
          border: none;
          border-radius: 3px;
        }
  
        .btn-cart {
          background-color: #F2A81D;
          color: white;
        }
  
        .btn-cart :hover { 
          transform: scale(1.3); 
          filter: drop-shadow(0 2px 5px rgba(196, 192, 170, 0.5)); 
        }

        .btn-more {
          background-color: #bf303c;
          color: white;
        }

        /* Contenido principal */
        main {
          margin-left: 0;
          padding: 100px;
          transition: margin-left 0.3s ease;
          text-align: center; 
          margin-bottom: 20px;
        }
  
        .books-grid {
          padding: 50px;
          display: flex;
          flex-wrap: wrap;
          gap: 90px;
          justify-content: center;
        }
  
        .book-card {
          background-color: #f5f5f5;
          padding: 5px;
          width: 150px;
          border-radius: 5px;
          text-align: center;
        }
  
        .book-card img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
        }
  
        .book-card h3 {
          font-size: 16px;
          margin: 10px 0;
        }

         /* Botón base para ambos */
         .btn-common {
          display: absolute;        
          align-items: center;       
          justify-content: center;    
          padding: 10px 15px;         
          font-size: 14px;            
          cursor: pointer;            
          border: none;               
          border-radius: 3px;         
          text-align: center;        
          text-decoration: none;
          transition: background-color 0.3s ease, transform 0.2s ease;  
          }
  
          .btn-more {
          background-color: #bf303c;  
          color: white;               
          }
  
          .btn-cart {
          background-color: #F2A81D;  
          color: white;               
          }
  
         .btn-cart i {
          font-size: 10px;            
          margin-right: 10px; 
          color: #fff;        
          }

        /* Responsivo */
        @media (max-width: 768px) {
          nav {
            margin-left: 0;
          }
          main {
            margin-left: 0;
          }
        }