         /* Reset basico */
         * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
  
        body {
          font-family: 'Rubik', sans-serif;
        }
  
  
        /* Boton de hamburguesa */
        .hamburger {
          position: fixed;
          top: 80px;
          left: 20px;
          background: none;
          border: none;
          color: #bf303c;
          font-size: 30px;
          cursor: pointer;
          z-index: 100;
        }
  
        /* Barra lateral */
        .sidebar {
          position: fixed;
          top: 65px;
          left: 0px;
          width: 250px;
          height: 100%;
          background-color: #0E1F40;
          transform: translateX(-100%);
          transition: transform 0.3s ease;
          padding-top: 60px;
          z-index: 99;
        }
  
        .sidebar.open {
          transform: translateX(0);
        }
  
        .sidebar-content a {
          display: block;
          color: #fff;
          padding: 15px;
          text-decoration: none;
          border-bottom: 1px solid #fff;
        }

        .sidebar-content h2 {
          display: block;
          padding: 15px;
          color: #bf303c;
          text-decoration: none;
          border-bottom: 1px solid #fff;
        }
  
        .sidebar-content a:hover {
          background-color: #bf303c;
        }

         /* Contenido principal */
         main {
          margin-left: 0;
          padding: 20px;
          padding-top: 120px;
          transition: margin-left 0.3s ease;
          text-align: center; 
          margin-bottom: 80px;
        }
  
        .books-grid {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: center;
        }
  
        .book-card {
          background-color: #f5f5f5;
          padding: 10px;
          width: 150px;
          border-radius: 5px;
          text-align: center; 
        }
  
        .book-card img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
        }
  
        .book-card h4 {
          font-size: 16px;
          margin: 10px 0;
        }
  
        .btn-cart,
        .btn-more {
          padding: 5px 10px;
          margin: 5px 0;
          cursor: pointer;
          border: none;
          border-radius: 3px;
          position: column;
        }
  
        .btn-cart {
          background-color: #F2A81D;
          color: white;
        }
  
        .btn-more {
          background-color: #bf303c;
          color: white;
        }

        .btn-cart:hover, .btn-more:hover {
          transform: scale(1.1); 
          filter: drop-shadow(0 2px 5px rgba(196, 192, 170, 0.5)); 
         }
 
          .btn-common {
           display: absolute;        
           align-items: center;       
           justify-content: center;    
           padding: 10px 15px;         
           font-size: 14px;            
           cursor: pointer;            
           border: none;               
           border-radius: 3px;         
           text-align: center;        
           text-decoration: none;
           transition: background-color 0.3s ease, transform 0.2s ease;  
           }

           main .h3 {
            display: flex; 
            margin-top: 40px;
            font-size: 2rem;
            text-align: center;
          }

          .details {
           margin-top: 15px;
          }

         /* Contenido de libros */
        .details {
          display: none; 
          background-color: #f5f5f5;
          border-top: 1px solid #0E1F40;
          margin-top: 10px;
          padding: 10px;
          text-align: left;
          font-size: 0.9em;
        }
        
        .details.visible {
          display: block; 
        }

        /* Responsivo */
        @media (max-width: 768px) {
          nav {
            margin-left: 0;
          }
          main {
            margin-left: 0;
          }
        }