body{background-color: #F2EADF; font-size:20px;}

  .barra-perfil{
      margin-top:10%;
      margin-left:5%;
      margin-right:5%;
      border: 1px solid #000;
      height:50px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:60px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 

  }
  
  /*Para el nombre de usuario dentro del div barra perfil*/
  .nombre-perfil{font-size:40px;}
  
  
  .Mostrar { /*botón dentro del div barra-perfil que dice mostrar perfil.*/
    background-color: #BF303C;
    margin-top:10px;
    padding: 10px 30px; 
    text-decoration: none;
    color: #fff;
    border-radius: 5px; /* hace las esquinas redondeadas*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); 
    margin-left: auto;
  }

  .Mostrar:hover{background-color:#0E1F40;color:#fff;}

  .opcion{ /*Cada una de las opciones dentro de la vista perfil sea de Administrador o Empleado*/
    margin: 5%;
    height: 100px;
    box-sizing: border-box;
    background-color: #F2A81D;
    display: flex; /* Para organizar los elementos en línea */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 30px 20px; /* Añade espacio a los lados */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    text-align: center;
  }


.opcion:hover {cursor: pointer;border: 2px solid #007bff;}

.opcion a {text-decoration: none;color: inherit;width: 100%;height: 100%;}

/*Cambia tamaño de iconos en las opciones de la vista admin y empleado*/

.opcion i{ font-size:55px;}

.Label{ /*El nombre de las opciones*/font-size: 25pt;text-decoration: none;color:#000000;}

.Regreso{ /*botón volver*/
    background-color: #BF303C;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px; /* Añade esquinas redondeadas */
    margin-left:40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
     
  }

  .Regreso:hover{background-color:#0E1F40;color:#fff;}

  /*Titulo indicando si es el perfil Administrador o Empleado*/
  .Tittle{margin-left:7%; margin-top:4%;}

  .Tittle-l{margin-left:7%; margin-top:8%;}

  .perfil-avatar { /*Imagen de perfil en la vista*/
    color:#fff;
    width: 89px; /* Ajusta el tamaño de la imagen */
    height: 89px;
    border-radius: 50%; /* Redondea la imagen para un efecto de avatar */
  }


  /*Para vista logs del sistema*/

.san-bar{float: right; margin-right:5%;}

.search-input {
    border: solid;
    border-color:#e1e1e1;
    outline: none; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px; /* Añade esquinas redondeadas */
}   

.search-input:hover{border: 2px solid #007bff;}

.search-button {
    background-color: #0E1F40;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.search-button:hover{background-color:#F2A81D; color:#fff;}

.contenedor-l{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  border: 1px solid;
  border-radius:5px;
  padding:10px 20px;
  margin-top:5%;
  margin-left:5%;
  margin-right:5%;
}

.contenedor-l i{font-size:55px;}


/*Tabla logs*/
table {
  border-collapse: collapse;
  width: 80%;
  background:#fff;
  margin-top: 30px;
  margin-left:9%;
  margin-right:5%;

}

th, td {
  text-align: center;
  padding: 5px;
  border: 1px solid #000;
}

td:hover{background-color:#bcbcbc}

th {
  background-color: #0E1F40;
  color: white;
}

.volver-l{
    background-color: #0E1F40;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px; 
    margin-left:40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 20px; 
    right: 20px; 
}

.volver-l:hover{background-color: #F2A81D;color:#fff;}

.opcion-l{
  background-color: #0E1F40;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px; 
  margin-left:20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.opcion-l:hover{background-color: #F2A81D;color:#fff;}

/*Vista para registro de libros*/

.contenedor-inventario{
  padding: 5px 30px;
  align-items: center; 
  justify-content: space-between;
  border: 1px solid;
  border-radius:5px;
  margin-top:10%;
  margin-left:10%;
  margin-right:10%;
}

/*Reglas en la vista Gestión de Inventarios - tabla vista de libros*/

/*Aside de la vista Estadística*/


.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #0E1F40;
  /*display: flex;*/
  flex-direction: column;
  margin-top:74px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); 
}

/*Uso de IA con gemini*/
.sidebar a {
  display: block;
  padding: 10px 20px; /* El primer valor es para arriba y abajo, el segundo para izquierda y derecha */
  text-align: center;
  text-decoration: none;
  background-color:#0E1F40;
  color:#fff;
  
}


.sidebar a:hover {
  background-color: #F2A81D;
  text-decoration: none;
  color:#0E1F40;
}

#xd:hover{background:#BF303C; color:#fff;}
