body {
    background-image: url('imagenes');
    background-size: cover;
    color: #f8f7f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

nav {
    background-color: #0E1F40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav img {
    width: 70px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a, .icons i {
    color: white;
    text-decoration: none;
}

.search, .icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search i {
    color: #1a1813;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.search i:hover {
    transform: scale(1.5);
}

.icons i {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.icons i:hover {
    transform: scale(1.5);
}

.icons .fa-cart-shopping {
    color: white; 
    transition: transform 0.3s ease, color 0.3s ease;
}
  
.icons .fa-cart-shopping:hover {
    color: white;
    transform: scale(1.3);
    filter: drop-shadow(0 2px 5px rgba(196, 192, 170, 0.5));
}

.form-container {
    background-color: #deaf6d;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 1020px;
    overflow-y: auto;
    /* Reducir la altura del contenedor del formulario considerando la altura de los botones */
    max-height: calc(100vh - 160px); /* Ajusta la altura disponible, dejando espacio para los botones */
    position: relative;
}

h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.error {
    color: #f2291D;
}

.register-button-container {
    position: fixed;
    bottom: 20px; /* Se asegura que los botones no queden pegados al borde */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* Distribuye los botones */
    gap: 10px; /* Espacio entre los botones */
    z-index: 10;
    width: 1020px; /* El ancho ahora es igual al ancho del formulario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para que resalte */
    padding: 15px 20px; /* Añadido relleno superior e inferior y margen lateral */
    border-radius: 5px; /* Esquinas redondeadas */
}

#registrarButton, #cancelarButton {
    padding: 12px 20px;
    border-radius: 4px;
    width: 48%; /* Los botones ocupan el 48% del contenedor */
    border: none;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

#registrarButton {
    background-color: #100455;
    border-color: #f2A81D;
    color: #fff;
}

#registrarButton:hover {
    background-color: #bf3030;
    border-color: #bf3030;
}

#cancelarButton {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}

#cancelarButton:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.Regreso {
    background-color: #BF303C;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin-left: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.Regreso:hover {
    text-decoration: none;
    color: #fff;
}
